!!! 5
%html
  %head
    %title MyApp
    %link{rel: 'stylesheet', href: '/stylesheets/application.css'}
    %script{src: "/js/three.min.js"}
    %script{src: "/js/spinner.js"}
  %body
    .container= yield

    / %script{src: "/javascripts/script.js"}
